<p id="notice"><%= notice %></p>

<div class="heading">
<h1>User Profiles</h1>
</div>


<table class="info">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show info', user %></td>
        <td><%= link_to 'Edit info', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy account', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class ="info">
  <thead>
    <tr>
      <th>Your Articles</th>
    </tr>
  </thead>
</table>



<br>

<%= link_to 'Back', welcome_index_url %>
