<div class="img">
<p>
<%= image_tag "logo.png", size: "256x160" %>
</p>
</div>

<%= link_to 'Article Listing', controller: 'articles' %>

<div class ="profile">
    <%= link_to 'Profile', controller: 'users' %>
</div>

<p>Featured Article</p>


<p>
    <% if current_user %>
        Logged in as <%= current_user.name %>
        <%= link_to "Log Out", logout_path %>
    <% else %>
        <%= link_to "Sign Up", signup_path %> or
        <%= link_to "Log In", login_path %>
    <% end %>
</p>