<p>
<%= image_tag "logo.png", size: "256x160" %>
</p>

<%= link_to 'My Blog', controller: 'articles' %>

<div class ="profile">
    <%= link_to 'Profile', controller: 'users' %>
</div>

<p>Featured Article</p>

<div class="forgot">
    <%= link_to 'Forgotten Credentials', users_forgotCred_url %>
</div>

<p>
    <% if current_user %>
        Logged in as <%= current_user.name %>
        <%= link_to "Log Out", logout_path %>
    <% else %>
        <%= link_to "Sign Up", signup_path %> or
        <%= link_to "Log In", login_path %>
    <% end %>
</p>