<h1>Blog Busters</h1>



<%= link_to 'My Blog', controller: 'articles' %>

<div class ="profile">
<%= link_to 'Profile', login_forgotCred_url %>
</div>

<p>Featured Article</p>

<div class ="create">
<%= link_to 'Create Account', login_forgotCred_url %>
</div>

<div class="forgot">
<%= link_to 'Forgotten Credentials', login_forgotCred_url %>
</div>

<div class ="login">
<%= link_to 'Login', login_forgotCred_url %>
</div>


<p>
    <% if current_user %>
        Logged in as <%= current_user.name %>
        <%= link_to "Log Out", logout_path %>
    <% else %>
        <%= link_to "Sign Up", signup_path %> or
        <%= link_to "Log In", login_path %>
    <% end %>
</p>